@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kaushan Script';
    background: black;

}
.bar{
    width: 100%;
    height: 100px;
    margin-left: 40px;
}
.name{
    width: 300px;
    height: 100px;
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    left: 40px;
    color: white;

}

.nav{
    position: absolute;
    width: 400px;
    height: 100px;
    margin: 0;
    display: flex;
    right: 10%;
}
.nav ul{
    position: relative;
    display: flex;

}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    margin-left: 20px;
    text-decoration: none;
}
.nav ul li a:hover{
    color: #04FA04;
}
.learn{
    position: absolute;
    color: white;
    font-size: 36px;
    font-weight: 400;
    margin-top: 10%;
    margin-left: 20%;
}
.project{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 6%;
    margin-left: 15%;
    text-decoration: underline;
    text-decoration-color: #04FA04;
}
.main{
position: relative;
    width: 950px;
    height: 100%;
    left: 15%;
}
.project01{
    position: absolute;
    width:200px;
    height: 150px;
    background: #04FA04;
    margin-top: 20%;
    margin-left: 15%;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    border-right:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);

}
.project02{
    position: absolute;
    width:200px;
    height: 150px;
    background: #04FA04;
    margin-top: 20%;
    margin-left: 40%;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    border-right:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);

}
.project03{
    position: absolute;
    width:200px;
    height: 150px;
    background: #04FA04;
    margin-top: 20%;
    margin-left: 65%;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    border-right:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);
}

.project04{
    position: absolute;
    width:200px;
    height: 150px;
    background: #04FA04;
    margin-top: 40%;
    margin-left: 15%;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    border-right:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);
}
.project05{
    position: absolute;
    width:200px;
    height: 150px;
    background: #04FA04;
    margin-top: 40%;
    margin-left: 40%;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    border-right:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);

}
.project06{
    position: absolute;
    width:200px;
    height: 150px;
    background: #04FA04;
    margin-top: 40%;
    margin-left: 65%;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    border-right:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);

}
.project07{
    position: absolute;
    width:200px;
    height: 150px;
    background: #04FA04;
    margin-top: 60%;
    margin-left: 15%;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    border-right:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);
}
.project08{
    position: absolute;
    width:200px;
    height: 150px;
    background: #04FA04;
    margin-top: 60%;
    margin-left: 40%;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    border-right:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);

}
.project09{
    position: absolute;
    width:200px;
    height: 150px;
    background: #04FA04;
    margin-top: 60%;
    margin-left: 65%;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    border-right:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);
}
.project01 .text{
    position: absolute;
    width: 200px;
    height: 50px;
    /*background: #04FA04;*/
    color: #04FA04;
    text-align: center;
    top: 60%;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .10s;

}
.project01:hover .text{
    transform: translateY(0px);
    opacity: 1;

}
.project02 .text{
    position: absolute;
    width: 200px;
    height: 50px;
    /*background: #04FA04;*/
    color: #04FA04;
    text-align: center;
    top: 60%;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .10s;

}
.project02:hover .text{
    transform: translateY(0px);
    opacity: 1;

}
.project03 .text{
    position: absolute;
    width: 200px;
    height: 50px;
    /*background: #04FA04;*/
    color: #04FA04;
    text-align: center;
    top: 60%;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .10s;

}
.project03:hover .text{
    transform: translateY(0px);
    opacity: 1;

}
.project04 .text{
    position: absolute;
    width: 200px;
    height: 50px;
    /*background: #04FA04;*/
    color: #04FA04;
    text-align: center;
    top: 60%;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .10s;

}
.project04:hover .text{
    transform: translateY(0px);
    opacity: 1;

}
.project05 .text{
    position: absolute;
    width: 200px;
    height: 50px;
    /*background: #04FA04;*/
    color: #04FA04;
    text-align: center;
    top: 60%;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .10s;

}
.project05:hover .text{
    transform: translateY(0px);
    opacity: 1;

}
.project06 .text{
    position: absolute;
    width: 200px;
    height: 50px;
    /*background: #04FA04;*/
    color: #04FA04;
    text-align: center;
    top: 60%;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .10s;

}
.project06:hover .text{
    transform: translateY(0px);
    opacity: 1;

}
.project07 .text{
    position: absolute;
    width: 200px;
    height: 50px;
    /*background: #04FA04;*/
    color: #04FA04;
    text-align: center;
    top: 60%;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .10s;

}
.project07:hover .text{
    transform: translateY(0px);
    opacity: 1;

}
.project08 .text{
    position: absolute;
    width: 200px;
    height: 50px;
    /*background: #04FA04;*/
    color: #04FA04;
    text-align: center;
    top: 60%;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .10s;

}
.project08:hover .text{
    transform: translateY(0px);
    opacity: 1;

}
.project09 .text{
    position: absolute;
    width: 200px;
    height: 50px;
    /*background: #04FA04;*/
    color: #04FA04;
    text-align: center;
    top: 60%;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .10s;

}
.project09:hover .text{
    transform: translateY(0px);
    opacity: 1;

}
.main .project01 .image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35%;
    top: 20%;

}

.main .project02 .image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35%;
    top: 20%;

}
.main .project03 .image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35%;
    top: 20%;

}
.main .project04 .image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35%;
    top: 25%;

}
.main .project05 .image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35%;
    top: 25%;

}
.main .project06 .image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35%;
    top: 25%;

}
.main .project07 .image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35%;
    top: 25%;

}
.main .project08 .image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35%;
    top: 25%;

}
.main .project09 .image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35%;
    top: 25%;

}
